
.feature-container {
  margin-top: 60px;
  padding: 20px 50px;

  .popular-header {
    font-weight: 600;
    font-size: 28px;
    color: #003F62;
    line-height: 41px;
    margin-bottom: 30px;
  }

  .features-products {
    display: flex;
    gap: 37px;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@-webkit-keyframes flash {
  0% {
    opacity: .4;
  }
  100% {
    opacity: 1;
  }
}

@keyframes flash {
  0% {
    opacity: .4;
  }
  100% {
    opacity: 1;
  }
}

.card {
  border: 1px solid #B6B6B6;
  height: 300px;
  width: 280px;
  border-radius: 20px;
  padding: 20px 0;

  img {
    width: 190px;
    height: 175px;
    object-fit: cover;
    display: flex;
    justify-content: center;
    margin: auto;
  }

  img:hover {
    //-webkit-animation: flash 3s;
    //animation: flash 3s;
  }

  .card-data {
    display: flex;
    text-transform: capitalize;
    flex-direction: column;
    padding: 10px 20px;
    gap: 5px;

    .p-name {
      color: #003F62;
      font-weight: 500;
      font-size: 18px;
      line-height: 26px;
    }
    .p-price{
      color: #4A4A4A;
      font-size: 18px;
      font-weight: 600;
    }
  }

}
