.product-header {

  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dropdown-filter{
  padding: 10px;
  outline: none!important;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid #161515;


}
option{
  padding-top: 10px!important;
}
.icon-button-h {
  color: maroon !important;
  padding: 10px !important;

}

.icon-button-h-active {
  background-color: black !important;
  color: goldenrod !important;
}