$primary: #4649FF;
$secondary: #0008C1;
$buttonBg: #77ddf5;
$buttonFont: #7705bc;


.searchContact {
  display: flex;
  background-color: #F0EBCE;
  padding: 40px;
  margin-top: 120px;
  border-top: 1px solid #cac49f;

  h2 {
    color: #005eff;
    font-size: 35px;
  }

  p {
    margin-top: 20px;
    margin-bottom: 30px;
    font-weight: 450;
    font-size: 18px;
  }

  .icons {
    color: $buttonFont;
    font-size: 35px;


    svg {
      margin-right: 20px;
      cursor: pointer;
    }
  }

  .right {
    padding-left: 30px;

    .icon-btn {
      font-size: 28px;
    }
    button {
      padding: 10px 15px;
      border: none;
      background-color: $buttonFont;
      color: $buttonBg;

      letter-spacing: 0.10px;
      font-size: 16px;
      cursor: pointer;
      text-transform: none !important;
      border-radius: inherit;
      margin-right: 1px;
      transition: all ease-in-out;
      transition-duration: 0.3s;


    }

    button:hover {
      background-color: #e3a607 !important;
    color: black;

    }
  }

}