.colors {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-top: 15px;

  svg {
    color: #fcfcfc;
    font-size: 14px;

  }
}

.color-btn {
  border: none;
  width: 25px;
  height: 25px;
  padding: 5px;
  border-radius: 100%;
  opacity: 0.5;
  align-items: center;
  display: flex;
}

:hover {
  opacity: 1;
}

.color-btn-active {
  opacity: 1;
}