$primary: #4649FF;
$secondary: #0008C1;
header {
  position: inherit !important;
}

.header {
  display: flex;
  background-color: $primary !important;
  height: 100px;
  color: white !important;

  .logo-wrapper {
    display: flex;
    justify-content: space-between;


  }

  .logo {
    width: 100px;
    height: 100px;
    object-fit: contain;
    cursor: pointer;
    background: white;
    outline: none;
  }


  .header-right {
    display: flex;
    place-items: center;
    .location-wrapper {
      display: flex;
      align-items: center;
      margin-right: 15px;
      p {

        font-size: 20px;
        margin-top: 7px;
        margin-left: 5px;
        cursor: pointer;
        text-decoration: none;

      }
    }

  }



  a {

    color: white;
  }
}

.search-wrapper {
  background: $secondary;
  margin-right: 30px;
  display: flex;
  padding: 5px 10px;
  align-items: center;
  letter-spacing: 0.50px;

  svg {
    font-size: 24px;
  }

  p {
    padding-left: 7px;
    margin-top: 4px;
    font-weight: 600;
  }


}

.search-wrapper:hover {
  cursor: pointer;
  color: $secondary;
  background-color: aqua;
  transition: linear 0.3s;


}


