.header {
  padding: 0 2.8rem;
  height: 6.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;


  .logo {
    height: 5rem;
    width: 5rem;
    object-fit: cover;
    border-radius: 10px;
  }
  a{
    color: rgba(194, 3, 255, 0.92);
  }

}

@media screen and (max-width: 768px) {

}

