.header {
  padding: 0 2.8rem;
  height: 6.5rem;
  background-color: #dc8787;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;


  .logo {
    height: 5rem;
    width: 5rem;
    object-fit: cover;
    border-radius: 10px;
  }
  a{
    color: #310a33;
  }
}

@media screen and (max-width: 768px) {

}

