.navbar {
  display: flex;
  background-color: #F4F4F4;
  padding: 20px 50px;
  align-items: center;
  justify-content: space-between;
  height: 61px;

  form {
    background-color: #EDA415;

    select {
      border: none;
      outline: none;
      color: white;
      background-color: #EDA415;
      cursor: pointer;
      height: 60px;
      margin: 0 5px;
      text-transform: capitalize;
      text-align: center;
      font-family: 'Poppins', sans-serif;
      font-weight: 500;

      option {
        cursor: pointer !important;
        text-transform: capitalize;
        padding: 10px;
      }
    }
  }

  a {
    color:#161515;
  }

  .nav-lists {
    display: flex;
    gap: 2.5rem;
    align-items: center;
    list-style: none;

    li {
      display: inline-block;
      text-decoration: none;
      font-size: 1rem;
      font-weight: 500;
      color: white !important;
      transition: color 0.3s linear;

      :hover {
        text-decoration: none;
        color: #003F62 !important;
        transition: color 0.2s linear;
      }

      :focus {
        color: #003F62 !important;
      }
    }
  }

}

// mobile navbar

.mobile-navbar-btn {
  display: none;
  background-color: transparent;
  cursor: pointer;
  border: none;

  .menu-icon [name="close-outline"] {
    display: none;
  }

  .close-icon {
    display: none;
  }
}

//Active

@media screen and (max-width: 768px) {
  .navbar {
    padding: 10px;
  }
  .mobile-navbar-btn {
    display: inline-block;
    z-index: 9999;
    border: black;

  }
  .menu-icon {
    font-size: 1.8rem;
    color: #003F62;

  }
  .active .menu-icon {
    display: none;
    font-size: 1.8rem;
    position: absolute;
    top: 10%;
    right: 10%;
    color: white;
    z-index: 9999;
background-color: #EDA415;
    border-radius: 50%;
    padding: 5px;
  }
  .active .close-icon {
    display: inline-block;
  }

  .nav-lists {
    width: 100vw;
    height: 100vh;
    position: absolute !important;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transform: translateX(100%);
    transition: all 1s linear;
    background-color: #161515;

    a{
      color: #EDA415!important;
    }
    li {
      font-size: 28px !important;
      font-family: 'Poppins', sans-serif;

    }
  }
  .active .nav-lists {
    visibility: visible;
    opacity: 1;
    transform: translate(0);
    z-index: 999;
    transform-origin: left !important;
    transition: all 1s linear;
  }

}