.list-view-card {
  border: 1px solid #151126;
  display: flex;
  //flex-direction: column;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  place-items: center;
}
.list-view-card-data{
  max-width:400px ;
}