.footer {
  background: #E2F4FF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 41px;


  .newsletter {
    background: #FFFFFF;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%;
    flex-wrap: wrap;
gap: 20px;
    h6 {
      color: #1B5A7D;
      font-weight: 600;
      font-size: 29.38px;
      line-height: 44px;
      font-family: 'Poppins', sans-serif;
    }

    .newsletter-email {
      background-color: #EDA415;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0 10px;
      gap: 10px;
      color: white;
      height: 63px;
      border-radius: 20px;
      width: 388px;
      justify-content: space-between;

      input {
        border: none !important;
        outline: none !important;
        background-color: #EDA415;
        color: white;
        width: 100%;
        font-weight: 500;
      }

      ::placeholder {
        color: white;
        font-weight: 500;
      }

      button {
        color: white;
      }
    }

    .footer-contact {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 20px;

      svg {
        width: 45px;
        height: 45px;
        color: #EDA415;
      }

      p {
        color: #606060;
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
        font-family: 'Poppins', sans-serif;
      }
    }
  }

  footer {
    display: flex;
    gap: 100px;

    .footer-logo-wrapper {
      color: #1B5A7D;
      display: flex;
      flex-direction: column;
      gap: 36px;

      img {
        width: 100px;
        height: 40px;
        object-fit: cover;
      }

      a, h6 {
        color: #1B5A7D;
        font-weight: 600;
        font-family: 'Poppins', sans-serif;
        display: flex;
        gap: 10px;
      }

      .footer-icons {
        display: flex;
        gap: 20px;

        button {
          color: #EDA415;
          border: none;
          background-color: black;
          font-size: 16px;
        }
      }
    }

    .footer-list {
      display: flex;
      gap: 100px;

      h6 {
        font-family: 'Poppins', sans-serif;
        color: #003F62;
      }

      ul {
        display: flex;
        flex-direction: column;
        gap: 15px;
        color: #003F62;
        margin-top: 10px;
      }

      li {
        //cursor: pointer;

      }

      ul li::before {
        content: "\2022";
        color: #EDA415;
        opacity: 0.5;
        padding: 4px;

      }
    }
  }
}
@media screen and (max-width: 768px) {
  footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    gap: 20px;

    .footer-list{
      display: flex;
      flex-direction: column;
gap: 0;
    }
  }

}