.search-wrapper {
  padding: 20px 50px;
  background: #003F62;
  display: flex;
  align-items: center;

  justify-content: space-between;

  .logo-wrapper {
    display: flex;
    align-items: center;
    gap: 5px;

    img {
      width: 50px;
    }

    h6 {
      color: white;
      font-weight: 600;
    }
  }

  .search {
    border-radius: 18px;
    border: none;
    padding: 0 0 0 15px;
    background: white;
    color: black;
    height: 44px;

    ::placeholder {
      color: #161515;
    }

    input {
      border: none;
      outline: none;
      width: 280px;
      margin: 10px;
      background: white !important;

      ::selection {
        background-color: white !important;
      }

      ::after {
        background-color: white !important;
      }

    }

    button {
      color: white;
      background-color: #EDA415;
      border: none !important;
      text-transform: none !important;
      border-radius: 18px;
      padding: 5px 30px !important;
      font-weight: 500;
      font-size: 14px !important;
      height: 44px;
    }

  }

  //  cart
  .cart-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    color: white;

    a {
      color: white;
    }

    .cart-total {
      background-color: #EDA415;
      border-radius: 50%;
      font-size: 14px;
      align-items: center;
      display: flex;
      width: 24px;
      justify-content: center;

    }

    .single-cart {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    svg {
      font-size: 20px;
    }

    button {
      text-transform: none;
      color: white !important;
      font-size: 14px !important;
    }
  }
}