$primary: #4649FF;
$secondary: #0008C1;
$font-color:#5837D0;

.searchbar {
margin-top: 210px;

  a {
    text-decoration: none;
    color: white;
  }

  header {
    margin-top: 100px;
    background-color:$secondary;
  }
  h1{
    color:$secondary;
    font-size: 40px;
    font-weight: 1000;
    letter-spacing: 1px;

  }
input{

}

}

