.products-wrapper {
  margin: 5rem;
  display: flex;
  gap: 2rem;

}

.main-products {
  display: flex;
  flex-direction: column;
  flex: 1;
}

@media screen and (max-width: 768px) {

  .products-wrapper {
    border: none;
    justify-content: center;
    margin: auto;
    display: flex;
    flex-direction: column;
  }
}