* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}


html {
  overflow-x: hidden;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

.container {
  max-width: 130rem;
  padding: 0 3.2rem;
}

li {
  list-style: none;
}

body {
  overflow-x: hidden;
  background-color:#151419;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background: #fff;
  border: 5px solid transparent;
  border-radius: 9px;
  background-clip: content-box;
}

body::-webkit-scrollbar-track {
  background-color: rgb(24 24 29);
}

p {
  font-size: 1.1rem;
  line-height: 1.1;
  font-weight: 400;
}

.grid-two-column {
  grid-template-columns: repeat(2, 1fr);
}

.grid-three-column {
  grid-template-columns: repeat(3, 1fr);
}

.grid-four-column {
  grid-template-columns: 1fr 1.2fr .5fr .8fr;
}

.grid-five-column {
  grid-template-columns: repeat(5, 1fr);
}

.loader {
  display: flex;
  margin: auto;
  justify-content: center;
  padding: 3rem 6rem;

}

.line {
  border-top: 0.1rem solid #310a33;
}

button {
  background-color: mediumvioletred !important;
  border-radius: 20px!important;
  color: white!important;
}
button:focus{
  color: white!important;
}
button:hover{
  color: white!important;
}
