.h-container {
  width: 100%;
  margin-top: 100px;
}

.carousel-control.right {
  background-image: none;
  color: black;
}

.carousel-control.left {
  background-image: none;
  color: black;
}

.carousel-indicators .active {
  background-color: #0008C1;
}

.carousel-indicators li {
  border: 1px solid #0008C1;

}

.carousel-inner {
  img {
    width: 100% !important;
    height: 300px !important;
    object-fit: contain;
  }
}





